* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-perso {
  width: 100px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(2px 2px 20px rgb(111, 112, 112));
}
.synop-perso {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 12px;
}
